@font-face {
    font-family: Product-Bold;
    src: url(./fonts/Product\ Sans\ Bold.ttf);
}
@font-face {
    font-family: Product-Reg;
    src: url(./fonts//Product\ Sans\ Regular.ttf);
}
@font-face {
    font-family: 'monospace';
    src: url(./fonts//Product\ Sans\ Regular.ttf);
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
   
}

html, body {
    width: 100vw;
    font-family: monospace;
}
body::-webkit-scrollbar {
    display: none;

}

#main {
    width: 100%;
    height: 100vh;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 5vw;
    background-color: #ffffff;
}

nav img {
    width: 8vw;

}

nav a {
    font-size: 1.4vw;
    text-decoration: none;
    color: #111;
}

.cntr-nav {
    display: flex;
    gap: 5vw;

}

nav, a, i {
    font-size: 1.4vw;
    text-decoration: none;
    color: #ffffff;
}

.one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(100deg, #FF9C56, #FF8E35); */
}

.one h1 {
    font-size: 25vw;
    font-family: monospace;
    color: #004E8A;
}

#fanta {
    position: absolute;
    width: 40%;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#orangeCut {
    position: absolute;
    top: 10%;
    left: 32%;
    z-index: 1;
    width: 15%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#orange {
    position: absolute;
    top: 55%;
    right: 30%;
    width: 18%;
    z-index: 3;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#leaf1 {
    position: absolute;
    top: 10%;
    left: 8%;
    transform: rotate(60deg);
    width: 18%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#leaf2 {
    position: absolute;
    top: 60%;
    right: 10%;
    width: 12%;
    transform: rotate(-90deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#leaf3 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 15%;
}

.two {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-two, .right-two{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.left-two svg {
    margin-top: 50vh;
    width: 80%;
    transform: rotate(170deg);
}

.right-two h2{
    font-size: 3vw;
    font-weight: bold;
    color: #004E8A;
}

.right-two p{
    margin-top: 12px;
    font-family: Product-Reg;
    font-size: 1vw;
    color: gray;
    width: 80%;
}

.three {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    width: 100%;
    height: 100vh;
    overflow: hidden;;
    /* background: linear-gradient(100deg, #FF9C56, #FF8E35); */
}

.card {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    margin-top: 10vh;
    padding-bottom: 5vh;
    width: 350px;
    height: 500px;
    /* background-color: #c24646;  */
    border-radius: 30px;
}

.card h2 {
    font-size: 2vw;
    font-weight: bold;
}

.card button {
    width: 160px;
    height: 60px;
    border-radius: 30px;
    border: none;
    padding: 12px;
    background-color: #FF8E35;
    color: #ffffff;
    font-size: 1vw;    
}

#cocacola-btn {
    background-color: #D8152E;
}

#dew-btn {
    background-color: #05944F;
}

/* .lemon {
    position: absolute;
    top: -35%;
    width: 18vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
} */
.lemon1 {
    position: absolute;
    top: -39%;
    width: 21vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.lemon2 {
    position: absolute;
    top: -39%;
    width: 21vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#cocacola {
    position: absolute;
    top: -12%;
    width: 55%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#fanta1 {
    position: absolute;
    top: 18%;
    width: 28%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#dew {
    position: absolute;
    top: -12%;
    width: 56%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

/* responsive design */
/* @media screen and (min-width: 1920px) {

    .card button {
        width: 8vw;
        height: 15vh;
        border-radius: 30px;
        border: none;
        background-color: #FF8E35;
        color: #ffffff;
        font-size: 1vw; 
        padding: .5vw;
         
    }

    #cocacola {
        position: absolute;
        top: -12%;
        width: 55%;
        width: 60%;
    }

    #fanta1 {
        width: 50%;
    }

    #dew {
        top: -12%;
        width: 80%;
    }

    .lemon {
        width: 20vw;
    }

    .lemon1 {
        width: 20vw;
    }
    
} */